.rela-block {
    display: block;
    position: relative;
    margin: auto;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}

.floated {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    float: left;
}
.floated.right {
    float: right;
}

.profile-card {
    width: calc(100% - 40px);
    margin: 70px auto 30px;
    background-color: #fff;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
}
.profile-pic {
    object-fit: cover;
    width:314px;
    height:238px;
    border-radius:40%;
}
.profile-name-container {
    margin: 0 auto 10px;
    padding: 10px;
    text-align: center;
}
.user-name {
    font-family: "Montserrat";
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 12px;
}
.user-desc {
    letter-spacing: 1px;
    color: #999;
}
.profile-card-stats {
    height: 75px;
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
}
.profile-stat {
    height: 100%;
    width: 33.3333%;
}
.profile-stat:after {
    color: #999;
}
.websites::after {
    content: "Websites";
}
.ads::after {
    content: "Ads";
}
.views::after {
    content: "Views";
}

@media screen and (max-width: 550px) {
    .profile-card-stats {
        height: 0;
        padding: 0px;
    }
    .profile-pic {
        height: 140px;
        width: 140px;
        top: -70px;
    }
    .profile-card {
        padding-top: 70px;
        margin: 50px auto 30px;
    }
}


.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

/* Styles for the gallery */

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    border: none;
}

.tz-gallery img {
    border-radius: 2px;
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}