<button class="btn btn-secondary" type="button" *ngIf="isUser" (click)="onEdit()">Edit Profile</button>
<div class="rela-block profile-card">
        <div class="rela-block profile-name-container">
        <div class="rela-block user-name" id="user_name">{{user?.username}}</div>
        <div class="rela-block user-desc" id="user_description">{{user?.description}}</div>
    </div>
    <div class="rela-block profile-card-stats">
        <div class="floated profile-stat websites" id="num_works">{{allSocialMedias.length || 0}}<br></div>
        <div class="floated profile-stat ads" id="num_followers">{{allItems.length || 0}}<br></div>
        <div class="floated profile-stat views" id="num_following">{{user?.views}}<br></div>
    </div>
</div>

<div class="rela-block content">

    <h3 style="text-align: center">Personal Websites</h3>
    <p *ngIf="allSocialMedias.length == 0">No content</p>
    <div class="row">
        <div class="col-sm-6" *ngFor="let social of allSocialMedias">
            <app-socialMedia [socialMedia]="social"></app-socialMedia>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <h3 style="text-align: center">Uploaded</h3>
        </div>
    </div>
    <p *ngIf="allItems.length == 0">No content</p>
    <div class="row">
        <div class="col-lg-4 portfolio-item" *ngFor="let item of allItems">
            <div>
                <img class="img-fluid" [src]="item.picture" alt=""/>
                <p>{{item?.description}}</p>
            </div>
        </div>
    </div>

</div>
