<div class="container-fluid">
    <div style="text-align: center">
        <img src="" alt="Mountain View" style="width:304px;height:228px;">
        <p><b>y0ungy3</b></p>
        <p>
            Descriptions:Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
            odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
            odio, gravida pellentesque urna varius vitae.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
            odio, gravida pellentesque urna varius vitae. www.google.com
        </p>
        <p>Links to personal websites:</p>
        <ul>
            <li>www.tumblr.com</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">Uploaded
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-lg-4 portfolio-item"> <a href="#">

            <img class="img-fluid" src="http://placehold.it/700x400" alt="" />

        </a>
            <h3>

                <a href="#">Project Name</a>

            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-lg-4 portfolio-item"> <a href="#">

            <img class="img-fluid" src="http://placehold.it/700x400" alt="" />

        </a>
            <h3>

                <a href="#">Project Name</a>

            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-lg-4 portfolio-item"> <a href="#">

            <img class="img-fluid" src="http://placehold.it/700x400" alt="" />

        </a>
            <h3>

                <a href="#">Project Name</a>

            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-lg-4 portfolio-item"> <a href="#">

            <img class="img-fluid" src="http://placehold.it/700x400" alt="" />

        </a>
            <h3>

                <a href="#">Project Name</a>

            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-lg-4 portfolio-item"> <a href="#">

            <img class="img-fluid" src="http://placehold.it/700x400" alt="" />

        </a>
            <h3>

                <a href="#">Project Name</a>

            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-lg-4 portfolio-item"> <a href="#">

            <img class="img-fluid" src="http://placehold.it/700x400" alt="" />

        </a>
            <h3>

                <a href="#">Project Name</a>

            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
</div>
