<div class="container">
    <div *ngIf="showBadAlert" class="alert alert-danger" role="alert">
        <strong>Username already exists!</strong> Please pick a different one :(
    </div>
    <h1 style="text-align: center">Create a new account</h1>
    <form (ngSubmit)="onRegister(f)" #f="ngForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input minlength=6 class="form-control" type="text" id="username" name="username" required ngModel/>
            <span class="help-block hint">At least 6 characters</span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input minlength="5" class="form-control" type="password" id="password" name="password" required ngModel/>
            <span class="help-block hint">At least 6 characters</span>
        </div>
        <div class="form-group">
            <label for="retypePassword">Retype Password</label>
            <input class="form-control" type="password" id="retypePassword" name="retypePassword" required ngModel #retypePassword="ngModel"/>
            <span *ngIf="!checkPassword(f) && retypePassword.touched && retypePassword.valid" class="help-block error-message">Password do not match</span>
        </div>
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" required ngModel name="ageCheckbox">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">I am at least 18 years old or older</span>
        </label>
        <div class="form-group">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" required ngModel name="userAgreementCheckbox">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">By clicking "Create Account" I confirm that I have read and accept the <a href="">User Agreement</a></span>
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Create Account</button>
        </div>
    </form>
</div>