<form>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email"/>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password"/>
    </div>
    <div class="form-group">
        <label for="retypePassword">Retype Password</label>
        <input class="form-control" type="password" id="retypePassword" name="retypePassword"/>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>