body {
  font: 14px 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #ffffff;
}
/*#df2d70*
2A2B30/
 */
a {
  color: #03a9f4;
}

h1, h2, h3, h4 {
  color: #03a9f4;
}