<form (ngSubmit)="onLogin(f)" #f="ngForm">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required ngModel #username="ngModel"/>
        <span *ngIf="username.touched && !username.valid" class="help-block error-message">Please enter your username</span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required ngModel/>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Login</button>
    <button type="button" class="btn btn-primary" (click)="registerClicked()">Register</button>
</form>