<div class="container">
    <h1 style="text-align: center">About</h1>
    <div style="text-align: center">
        <img src="about_logo.png" width="100" height="100">
    </div>
    <h4>Selfthy</h4>
    <p>The purpose of this website is to promote yourself, especially your social medias or anything that you do and would like more people to see or gain more followers!</p>
    <p>You can put any social medias (blogs, Instagram, Facebook, Tumblr, Youtube, anything you can think of) that you'd want to expose to more
    people, into one centralize website *cough*Selfthy*cough*. Here you can list all your social medias accounts, post any ads that relate to
        those social medias. Copy the URL of your profile and share it anywhere! This way anyone visiting your profile can see all the social medias
    that you want them to know about! They might visit and follow you!</p>
    <p>You could also browse what others are posting on Selfthy, explore their profiles, maybe they have similar interests as you or looking for more followers just like you! Check
    out their social medias, give them attention, follow them, maybe they'll follow you back!</p>

    <p>Login to start editing your profile and post ads! Or Register for an account.</p>
    <p>Create Profile. Add Social Medias. Post Ads to lure viewers. Wait. Gain views, followers, or attention I guess.</p>
    <p>Just have fun!</p>
    <br/>
    <hr/>
    <h4>Creator</h4>
    <p>Hello! My name is Dung Mai. I'd like to welcome you to Selfthy! After graduated as a computer science major,
        I created this website to practice my coding skill and mostly just for fun and hoping to get a few dollars from
        ads to buy some halal food truck (those food are super good if you've never try them).
        If you'd like to contact me to offer me a high paying job, pay off my student loans, or offer to buy this website (I am nothing but a super poor grad), please see the <a routerLink="/contact">contact page</a> and let me know. Otherwise thank you for visiting
        this website and hope you enjoy!
    </p>
</div>
<div class="container-fluid">
    <app-footer></app-footer>
</div>
