.card__one {
    transition: transform .5s;
}
.card__one::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    content: '';
    opacity: 0;
    z-index: -1;
}
.card__one:hover, .card__one:focus {
    transform: scale3d(1.006, 1.006, 1);
}
.card__one:hover::after, .card__one:focus::after {
    opacity: 1;
}


/* static page with grid */
.page--static {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    max-width: 1220px;
    margin: 0 auto;
    padding: 2em 0 0;
    text-align: center;
}

.page__title {
    padding: 0 2em;
}

.page__title-main {
    font-size: 2em;
    margin: 0 auto;
    padding: 3em 0 0;
    color: #03a9f4;
}

.page__title-sub {
    font-size: 1.05em;
    margin: 0.5em 0 4em;
}


/*.grid {
    position: relative;
    z-index: 100;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0 6em;
    list-style: none;
}*/

.grid__item {
    display: block;
    -webkit-flex: none;
    flex: none;
    width: 33.33%;
    padding: 10px;
}

.js .grid__item {
    opacity: 0;
}

.grid__item--hidden {
    opacity: 0;
}

.grid__link {
    display: block;
    padding: 13px 13px 0 13px;
    background: #fff;
}

.grid__img {
    display: block;
    width: 100%;
}

.grid__item-title {
    line-height: 1;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 1em 0.5em;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #698b8d;
    background: #fff;
}

/* Visibility/pointer events of items depending on state (loaded) */

.js .grid,
.js .device,
.js .button--view {
    opacity: 0;
}

.view--loaded .grid,
.view--loaded .device,
.view--loaded .button--view {
    opacity: 1;
}

.view--loaded .button--view {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.js .page--static {
    pointer-events: none;
}

.view--grid .page--static {
    pointer-events: auto;
}

/* Media query for smaller screens */
@media screen and (max-width: 56em) {
    .page__title-main {
        font-size: 1.3em;
    }
    .page__title-sub {
        margin-bottom: 1em;
    }
    .grid__item {
        width: 50%;
        max-width: none;
    }
}