<div style="text-align: center" *ngIf="!isLoggedIn()" class="container-fluid">
    <h1>PROMOTE</h1>
    <h2>Your Social Medias</h2>
    <h3>Bring more views and followers to them</h3>
    <h3>with <b class="name">Selfthy</b></h3>
    <br/>
    <p>1. <a routerLink="/registration">Signup</a> for a free account and free to use Selfthy</p>
    <p>2. Edit your profile and show off your other social medias (Instagram, Snapchat, Youtube, etc.)</p>
    <p>3. Post ads to attract Selfthy's users or people that visit your profile</p>
    <p>4. Share your profile's URL!</p>
</div>

<div class="container">
    <section class="page page--static">
        <div class="input-group">
            <input  (keyup.enter)="search()" type="text" class="form-control" placeholder="Enter a tag to search..." [(ngModel)]="searchValue" (change)="onSearchValueChange()">
            <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="search()">Search!</button>
      </span>
        </div>
        <div *ngIf="!noResult">
            <div class="page__title">
                <h2>What's New</h2>
                <p class="page__title-sub">See what people are up to...</p>
            </div>
            <div class="card-columns">
                <div class="card card__one" *ngFor="let item of allItems">
                    <a class="grid__link" (click)="viewPicture(item)">
                        <img class="grid__img" [src]="item.picture" alt="Some image" />
                    </a>
                    <a class="username" [routerLink]="['/' + item.username]" >{{item.username}}</a>
                    <p class="description">{{item.description}}</p>
                    <p class="tags">{{parseTags(item.tags)}}</p>
                </div>
            </div>
        </div>
        <h3 class="page__title" *ngIf="noResult">No results found</h3>
    </section>
</div>
<div class="container-fluid">
    <app-footer></app-footer>
</div>