<div class="container">
    <h1 style="text-align: center">User Agreement</h1>
    <br/>
    <p>
        You acknowledge that you have read, understood, and agree to be bound by the terms of this agreement.
        If you do not agree to this agreement,you should not use Selfthy.
    </p>
    <ul>
        <li>You will not use Selfthy if you are under 18</li>
        <li>Selfthy is for personal use only. You may not use Selfthy to break the law, violate an individual's privacy,
            or
            infringe any person or entity’s intellectual property or any other proprietary rights.
        </li>
        <li>You may not use Selthy to conduct transactions for any illegal goods or services.</li>
        <li>You agree that you have the right to post any of your content and the content does not violate
            the copyright,
            trademark, trade secret or any other personal or proprietary right of any other party.
        </li>
        <li>You may find commercial links, coupons, deals, advertisements and other third-party offers on Selfthy.
            You are responsible for any transactions you take through these third parties or any other users on Selfthy.
        </li>
        <li>You are responsible for the information associated with your account and anything that happens
            related to your account.
        </li>
        <li>Selfthy may contain links to other websites. Selfthy is not responsible for anything that happens after
            you click on these links. Please be careful.
        </li>
        <li>Selfthy is not responsible for any decisions you make based on something you read or see on Selfthy.</li>
        <li>You will not bully, intimidate, or harass any user or anyone by using Selfthy.</li>
        <li>You will not post anyone's identification documents or sensitive financial information on Selfthy.</li>
        <li>You agree that you are responsible for anything that you post and upload on Selfthy. You can delete your
            post or account anytime.
        </li>
        <li>Selfthy does not guaranteed you more followers or views on your social medias. </li>
    </ul>
    <h4>Privacy Policy</h4>
    <ul>
        <li>Selfthy may partner with third-party advertisers and ad networks. These third parties
            may collect information sent by your computer, browser, or mobile device.
        </li>
        <li>Selfthy only stores your username and encrypted password. Selfthy also stores anything that you upload and
            post using Selfthy just so they can be displayed on the website. Everything that you upload and post on Selfthy are visible to the public beside your encrypted password of course.
        </li>
    </ul>
</div>