<div class="btn-group">
    <button class="btn btn-secondary" type="submit" (click)="onSave(description.value)">Done</button>
</div>

<div class="rela-block profile-card">
    <div class="rela-block profile-name-container">
        <div class="rela-block user-name" id="user_name">{{user?.username}}</div>
    </div>
    <div class="description-container">
        <label style="text-align: left" for="description">Description</label>
        <textarea maxlength="1000" id="description" class="form-control" rows="3" #description name="description"
                  [ngModel]="user?.description"></textarea>
    </div>
</div>

<div class="rela-block content">

    <h3 style="text-align: center">Personal Websites</h3>
    <button class="btn btn-secondary" type="button" (click)="onAddWebsite()">Add Website</button>
    <div class="row">
        <div class="col-sm-6" *ngFor="let social of allSocialMedias">
            <app-socialMedia [socialMedia]="social"></app-socialMedia>
            <button type="button" class="btn btn-danger" (click)="onDeleteSocial(social)">Delete</button>
        </div>
    </div>

    <div class="container gallery-container">
        <h1>Manage Ads</h1>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-md-6 col-lg-4" *ngFor="let item of allItems">
                    <div class="thumbnail">
                        <a class="lightbox">
                            <img class="img-fluid" [src]="item.picture">
                        </a>
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>{{item.description}}</p>
                        </div>
                        <button class="btn btn-danger" type="button" (click)="deletePost(item)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>