.img-fluid {
    max-width: 100%;
    max-height: 500px;
    height: auto;
}

.container {
    padding-top: 50px;
}

.descriptive {
    color: #58595a;
    font-weight: 700;
}

.hint {
    font-size: 12px;
    color: #96acb6;
}

.visible::-webkit-input-placeholder{
    color:    #000 !important;
}