<div class="container">
    <div style="text-align: center">
        <h1>Upload</h1>
    </div>
    <div *ngIf="showAlert" class="alert alert-success" role="alert">
        <strong>Uploaded!</strong> You can view your ad on the home page.
    </div>
    <div *ngIf="showBadAlert" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> Failed to upload the image. (Maximum image size is 10MB)
    </div>

    <form (ngSubmit)="onPost(f)" #f="ngForm">
        <div class="form-group">
            <p class="descriptive">Choose an image</p>
            <label class="btn btn-primary">Browse
                <input type='file' accept=".jpg,.jpeg,.png" (change)="readImage($event)" style="display: none;" required>
            </label>

        </div>
        <div class="form-group">
            <div class="col-lg-4 portfolio-item">
                <p *ngIf="img">Preview:</p>
                <img class="img-fluid" [src]="img">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="descriptive">Description</label>
            <textarea type="text" class="form-control" id="description" rows="5" name="description"
                      maxlength="500" [(ngModel)]="characterLeft"
                      placeholder="example: I just got a polar bear as a pet! Follow me on Instagram to see more of him! "
            ></textarea>
            <span class="help-block hint">Max Length: {{characterLeft | CharacterCount:500}}</span>
        </div>
        <br/>
        <div class="form-group">
            <tag-input name="tags" [(ngModel)]='tags' secondaryPlaceholder="Add a tag and press Enter"></tag-input>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <p class="hint">Remember to not post anything that you don't want anyone to see!</p>
            <button class="btn btn-primary" type="submit" [disabled]="!img">Post</button>
        </div>
    </form>
    <br/>
    <br/>

    <div class="hint">
        <b>Hint:</b>
        <ul>
            <li>Pick an interesting picture (selfies, hobbies, video game screen shots, pets, anything!)</li>
            <li>Write a cool description to attract viewers</li>
            <li>Add tags so your ad will show up in search</li>
            <li>Post your ad to attract viewers to your SelfProm profile</li>
            <li>People with similar interests might check out and follow your other social medias accounts or any other things you wish for more people to see!</li>
        </ul>
    </div>

</div>




