<h1>Upload</h1>
<div *ngIf="showAlert" class="alert alert-success" role="alert">
    <strong>Uploaded!</strong> You can view your ad on the home page.
</div>
<div *ngIf="showBadAlert" class="alert alert-danger" role="alert">
    <strong>Oops!</strong> Failed to upload the image.
</div>
<form (ngSubmit)="onPost(f)" #f="ngForm">
    <div class="form-group">
        <p>Choose an image to advertise yourself</p>
        <label class="btn btn-primary">Browse
            <input type='file' accept=".jpg,.jpeg,.png" (change)="readImage($event)" style="display: none;" required>
        </label>

    </div>
    <div class="form-group">
        <img class="img-fluid" [src]="img">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" name="description" ngModel></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="!img">Post</button>
    </div>
</form>



