/*.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 10px 6px -6px #999;

    !* the rest of your styling *!
}*/

.logo {
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 400;
    margin: 0 30px;
    cursor: pointer;
}
.logo:hover {
    color: #ffffff;
}

.floated {
    display: inline-block;
    position: relative;
    top: auto ;
    left: auto;
    right: auto;
    bottom: auto;
    float: left;
}
.floated.right {
    float: right;
}

.fakeLink {
    color: #03a9f4;
    background-color: transparent;
}

.fakeLink:hover {
    color: #17446E;
}