<!-- Navigation -->
<nav class="navbar navbar-inverse bg-inverse fixed-top navbar-toggleable-sm"
     role="navigation">
    <div class="container">
        <button type="button" class="navbar-toggler float-right hidden-md-up"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">☰</button> <a class="navbar-brand" href="#">SelfAd</a>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" class="nav-item"> <a routerLink="/home" class="nav-link">Home</a>
            </li>
            <li routerLinkActive="active" class="nav-item"> <a routerLink="/upload" class="nav-link">Upload</a>
            </li>
        </ul>
    </div>
</nav>
