<nav class="navbar navbar-inverse bg-inverse fixed-top navbar-toggleable-sm"
     role="navigation">
    <div class="container">
        <a class="navbar-brand floated logo" href="/home">SelfAd</a>
        <ul class="nav navbar-nav mr-auto">
            <li routerLinkActive="active" class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
            <li *ngIf="isLoggedIn()" routerLinkActive="active" class="nav-item"><a routerLink="/upload"
                                                                                   class="nav-link">Upload</a></li>
            <li *ngIf="isLoggedIn()" routerLinkActive="active" class="nav-item nav-link" style="cursor: pointer;"
                (click)="goToProfile()">Profile
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li *ngIf="!isLoggedIn()" routerLinkActive="active" class="nav-item"><a routerLink="/login"
                                                                                    class="nav-link">Login</a></li>
            <li *ngIf="isLoggedIn()" routerLinkActive="active" class="nav-item"><a routerLink="/home" class="nav-link"
                                                                                   (click)="logout()">Logout</a></li>
        </ul>
    </div>
</nav>

<!--

&lt;!&ndash; FONTS &ndash;&gt;&lt;!&ndash; Roboto, Yellowtail, and Montserrat &ndash;&gt;
<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,400|Yellowtail"
      rel="stylesheet">&lt;!&ndash; PAGE STUFF &ndash;&gt;
<div class="overlay">
    <div class="abs-center overlay-card">
        <div class="close">X</div>
        <div class="floated overlay-image">
            <div class="abs-center post-image"></div>
        </div>
        <div class="floated overlay-desc">
            <div class="rela-block desc-title"></div>
            <div class="rela-block desc-author"></div>
            <div class="rela-block desc-desc"></div>
        </div>
    </div>
</div>
<div class="nav-bar">
    <div class="horz-center nav-container">
        <div class="floated logo">control flow</div>
        <ul class="floated nav-div nav-links">
            <li class="rela-inline">Shots</li>
            <li class="rela-inline">Designers</li>
            <li class="rela-inline">Teams</li>
            <li class="rela-inline">Community</li>
            <li class="rela-inline">Jobs</li>
        </ul>
        <ul class="floated nav-div">
            <li class="rela-inline menu-toggle">•••</li>
        </ul>
        <div class="floated right nav-div search-container">
            <div class="rela-inline icon search-icon"></div>
            <input type="text" placeholder="Search" class="rela-inline nav-search"/></div>
        <ul class="floated right nav-div sign-div">
            <li class="rela-inline">Sign-Up</li>
            <li class="rela-inline">Sign-In</li>
        </ul>

    </div>
</div>

<div class="rela-block footer"><p>FOOTER</p><br>
    <p>Classic deluxe custom designer luxury prestige high-quality premium select gourmet pocket pencil
        sharpener.<br><br>Yours for the asking, no purchase necessary. It's our way of saying thank you.</p></div>-->
