<nav class="navbar navbar-toggleable-sm" role="navigation" style="background-color: #2A2B30;">
    <div class="container">
        <a class="navbar-brand floated logo" href="/home">SelfProm</a>
        <ul class="nav navbar-nav mr-auto">
            <li routerLinkActive="active" class="nav-item"><a routerLink="/home" class="nav-link">Home</a></li>
            <li *ngIf="isLoggedIn()" routerLinkActive="active" class="nav-item"><a routerLink="/upload"
                                                                                   class="nav-link">Upload</a></li>
            <li *ngIf="isLoggedIn()" routerLinkActive="active" class="nav-item nav-link fakeLink" style="cursor: pointer;"
                (click)="goToProfile()">Profile
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li *ngIf="!isLoggedIn()" routerLinkActive="active" class="nav-item"><a routerLink="/login"
                                                                                    class="nav-link">Login</a></li>
            <li *ngIf="isLoggedIn()" routerLinkActive="active" class="nav-item"><a routerLink="/home" class="nav-link"
                                                                                   (click)="logout()">Logout</a></li>
        </ul>
    </div>
</nav>